{
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "lf",
    "printWidth": 150,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "quoteProps": "as-needed",
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "tailwindStylesheet": "resources/css/app.css",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}